.bx_sm {
	box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.45);
}
.bx_md {
	box-shadow: 0 6px 4px -3px rgba(0, 0, 0, 0.50);
}
.bx {
	box-shadow: 0 13px 6px -6px rgba(0, 0, 0, 0.50);
}
.bx_lg {
	box-shadow: 0 18px 11px -7px rgba(0, 0, 0, 0.60);
}
.bx_vlg {
	box-shadow: 
		0 13px 9px -5px rgba(0, 0, 0, 0.15), 
		0 23px 19px -11px rgba(0, 0, 0, 0.20),
		0 50px 25px -22px rgba(0, 0, 0, 0.25),
		0 60px 30px -36px rgba(0, 0, 0, 0.30),
		0 73px 35px -38px rgba(0, 0, 0, 0.35),
		0 80px 60px -45px rgba(0, 0, 0, 0.50),
		0 80px 80px -55px rgba(0, 0, 0, 0.80);
}
.highlight {
    border: 2px solid #006773;
    border-radius: 20px;
	box-shadow: 0 5px 7px -2px #006773;
}
.luster {
	border: 2px solid rgba(255, 255, 255, 0.60);
    border-radius: 20px;
    box-shadow: 0 10px 7px -4px #FFFFFF, 0 12px 10px -8px rgba(0, 0, 0, 0.40);
}
.glitter {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid rgba(222, 255, 27, 0.70);
	box-shadow: 
		0 4px 4px -1px rgba(255, 255, 255, 0.60), 
		0 25px 40px -20px rgba(222, 255, 27, 0.85);
}
.in_out {
    position: relative;
    box-shadow: 
    	0 1px 4px rgba(0, 0, 0, 0.18), 
    	0 -1px 4px rgba(0, 0, 0, 0.18),
    	0 0 8px rgba(0, 0, 0, 0.15) inset,
    	0 0 40px rgba(0, 0, 0, 0.10) inset;
}
.inset {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.30) inset;
}
.deep {
	box-shadow: 
		0 0 2px rgba(0, 0, 0, 0.32) inset,
		0 0 10px rgba(0, 0, 0, 0.30) inset,
		0 0 16px rgba(0, 0, 0, 0.35) inset;
}