/* -------------------------------------------------
    leitor de tela
*/
.screen_reader {
	position: absolute !important;
	clip: rect(1px,1px,1px,1px) !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important
}

/* -------------------------------------------------
    limpa flutuação
*/
.clean::before, .clean::after {
	display: table !important;
	content: ' ' !important;
	clear: both !important;
}
/* -------------------------------------------------
    ALINHAMENTOS

 -------------------------------------------------*/
/* -------------------------------------------------
    horizontal
*/
/*
.m_auto, .mauto  [em margins.css]
.txt_center      [em typography.css]   
										*/
.align_media {
	left: 0 !important;
	right: 0 !important;
	display: block !important;
	margin: auto !important;
}
.align_x {
	left: 0 !important;
	right: 0 !important;
	display: block !important;
	margin: auto !important;
}
/* -------------------------------------------------
    vertical
*/
/* relative - requer altura fixa */
.center_y, .align_rel_y {
	position: relative !important;
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	align-items: center !important;
}
/* absolute - requer altura fixa */
.align_y {
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	margin: auto 0 !important;
}
/* absolute - não requer altura fixa */
.lineup_y {
	position: absolute !important;
	top: 50% !important;
	transform: translateY(-50%) !important;
}

/* -------------------------------------------------
    horizontal e vertical
*/
/* relative - requer altura fixa */
.center_xy, .align_rel_xy {
	position: relative !important;
	display: flex !important;
	margin: auto auto !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	align-items: center !important;
	justify-content: center !important;
}
/* absolute - requer altura fixa */
.align_xy {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: auto auto !important;
}
/* absolute - não requer altura fixa */
.lineup_xy {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%) !important;
}
/* -------------------------------------------------
    Margins e Paddings in margins.css e paddings.css
