/**-----------------------------------
 *        Alteracaoo basica
 *                                   */
input.basic[type=file] {
	color: #888;
	font-size: 20px;
	text-shadow: 1px 1px 1px #FFFFFF;
	cursor: pointer;
}
input.basic[type=file]:hover {
	color: #AAA;
}
/**-----------------------------------
 * Adiciona botao por cima do botao padrão do navegador mantendo o nome do arquivo selecionado
 *                                   */
.btn_over {
	position: relative;
}
.btn_over input[type=file] {
	padding: 3px 0 0 4px;
	font-size: 17px;
	color: #555;
	text-shadow: 1px 1px 1px #FFFFFF;
	cursor: pointer;
}
@-moz-document url-prefix() { 
	.btn_over input[type=file] {
		padding: 3px 0 0 61px;
	}
}
.btn_over input[type=file]:hover {
	color: #777;
}
.btn_over label {
	position: absolute;
	top: 0;
	left: 0;
}
/**-----------------------------------
 * Ocutar input file
 *                                   */
input.hidden_file[type=file] {
	position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    display: none;
}
/**-----------------------------------
 * Altera todo o padrao por um botao e exibe caminho com nome do arquivo
 *                                   									*/
span#filename {
	font-size: 1rem;
	color: 666;
	font-family: '', monospace;
}

/**-----------------------------------
 * FileReader para imagem: Em tag img e com background-image
 *     								                         */
label.readers {
	display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.load_file {
    position: relative;
    overflow: hidden;
    margin: 0 0;
    width: 100%;
    min-height: 70px;
    max-height: 60vh;
}
.load_file span {
    position: relative;
    top: 7px;
    left: 7px;
    display: inline-block;
    text-align: center;
    color: #506568;
    transition: .4s;
    background-image: linear-gradient(to top, #242A28, #2F3734);
    padding: 18px 60px;
}
.load_file span::before, .load_file span::after {
	position: absolute;
    content: ' ';
    border-radius: 2px;
    border: 1px solid #2F3734;
    opacity: .5;
}
.load_file span::before {
    top:-3px;
    right:-3px;
    bottom:-3px;
    left:-3px;
}
.load_file span::after {
    top:-6px;
    right:-6px;
    bottom:-6px;
    left:-6px;
}
label.readers:hover .load_file span {
    filter: brightness(130%);
    transition: .4s;
}
#load_img.load_file img {
	position: relative;
	display: block;
	width: 100%;
	margin: auto;
	top: 50%;
	transform: translateY(-25%);
}
#load_bg.load_file #background_image {
    position: relative;
    width: 100%;
    height: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}
#load_img.load_file, #load_bg.load_file #background_image {
	transition: .4s;
}
#load_img.load_file:hover, #load_bg.load_file #background_image:hover {
    filter: brightness(94%);
    transition: .4s;
}

label.readers[for=input_video] {
    margin: 25px 0;
}
#load_video {
    position: relative;
    max-height: 90vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
#load_video video {
    position: relative;
    max-height: 90vh;
}
#progress {
    padding: 1px;
    border: 1px solid #82AB62;
    font-size: 14px;
    clear: both;
    opacity: 0;
    transition: opacity 1s linear;
}
#progress.loading {
    opacity: 1.0;
}
#progress .percent {
    background-color: #658E46;
    height: auto;
    width: 0;
}