.pswd {
	position: relative;
	width: 100%;
	height: 39px;
	overflow: hidden;
	margin-top: 3px;
    background-color: #FFFFFF;
    border: 1px solid #C5C5C5;
    box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.30);
    border-radius: 2px;
}
.pswd input#pswd {
	position: relative;
	height: 100%;
	margin-top: 0;
    border: none;
}
.pswd .look {
	position: absolute;
	display: block;
	top: -11px;
	right: 0;
	cursor: pointer;
	font-size: 40px;
	width: 45px;
	height: 100%;
	color: #777;
}
.pswd .look.hidden {
	color: #555;
}
.pswd .look.hidden::after {
	position: absolute;
	top: 28px;
	right: 7px;
	content: '';
	width: 36px;
	height: 4px;
	transform: rotate(-45deg);
	border-radius: 4px;
	background-color: #555;
}