input.rad[type=radio] {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    display: none;
}
input.rad[type=radio] + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
    width: 19px;
    height: 19px;
    border-radius: 100px;
    box-shadow: 0 0 1px 1px #6DD6B6, 0 0 1px 1px rgba(3, 75, 53, 0.50) inset;
    background-image: linear-gradient(to right bottom, #06E9A1, #034B35);
    background-size: 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .3s;
}
input.rad[type=radio]:checked + label {
    background-size: 100% 100%;
    transition: .3s;
}
input.rad[type=radio] + label::before {
    position: absolute;
    display: inline-block;
    content: '';
    top: 6.5px;
    left: 6.5px;
    width: 4px;
    height: 4px;
    border-radius: 100px;
}
input.rad[type=radio]:checked + label::before {
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 3px 1.5px rgba(255, 255, 255, 1);
}
input.rad[type=radio] + label span {
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    width: auto;
    white-space: pre;
    font-size: 0.95rem;
    color: #666;
}