.animators {
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* ------------------------------------------------- */

.fade {
    animation-name: fade;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadescale {
    animation-name: fadescale;
}
@keyframes fadescale {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.fadetop {
    animation-name: fadetop;
}
@keyframes fadetop {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.faderight {
    animation-name: faderight;
}
@keyframes faderight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadebottom {
    animation-name: fadebottom;
}
@keyframes fadebottom {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.fadeleft {
    animation-name: fadeleft;
}
@keyframes fadeleft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.fadefasttop {
    animation-name: fadefasttop;
}
@keyframes fadefasttop {
    0% { opacity: 0; transform: translateY(-180px); }
    100% { opacity: 1; transform: translateY(0); }
}

.fadefastright {
    animation-name: fadefastright;
}
@keyframes fadefastright {
    0% {
        opacity: 0;
        transform: translateX(180px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadefastbottom {
    animation-name: fadefastbottom;
}

@keyframes fadefastbottom {
    0% { opacity: 0; transform: translateY(180px); }
    100% { opacity: 1; transform: translateY(0);
    }
}

.fadefastleft {
    animation-name: fadefastleft;
}

@keyframes fadefastleft {
    0% {
        opacity: 0;
        transform: translateX(-180px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* --- slide --- */
.slidetop { animation-name: slidetop; }
@keyframes slidetop {
    0% { opacity: 0; transform: translateY(-500px); /* 2000 */ } 
    100% { transform: translateY(0); }
}

.slideright {
    animation-name: slideright;
}
@keyframes slideright {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
}

.slidebottom { animation-name: slidebottom; }
@keyframes slidebottom {
    0% { opacity: 0; transform: translateY(500px); }
    100% { transform: translateY(0); }
}

.slideleft {
    animation-name: slideleft;
}
@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

.zoom {
    animation-name: zoom;
}
@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.bouncein {
    animation-name: bouncein;
}
@keyframes bouncein {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

/* adicionais */
.slowtop {
    animation-name: slowtop;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-play-state: running;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes slowtop {
    0% {
        opacity: .1;
        transform: translateY(-10px);
    }
    50% {
        opacity: .5;
        transform: translateY(-5);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.signal::before, .signal::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    /* border-radius: insira no elemento; */
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
}
.signal::before {
    animation: firstsignal 1s infinite;
}
.signal::after {
    animation: secondsignal 1s infinite;
}
@keyframes firstsignal {
    100% {
        top:-6px;
        right:-6px;
        bottom:0;
        left:0;
        opacity:0
    }
}
@keyframes secondsignal {
    100% {
        top:-14px;
        right:-14px;
        bottom:0;
        left:0;
        opacity:0
    }
}