.grid_template_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "ga_1 ga_1 ga_2"
        "ga_3 ga_4 ga_5";
}
.ga_1 { grid-area: ga_1; }
.ga_2 { grid-area: ga_2; }
.ga_3 { grid-area: ga_3; }
.ga_4 { grid-area: ga_4; }
.ga_5 { grid-area: ga_5; }
.grid_template_1.space {
    gap: 10px 20px;
}

.grid_template_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "ga_6 ga_7 ga_7 ga_7"
        "ga_8 ga_8 ga_9 ga_9";
}
.ga_6 { grid-area: ga_6; }
.ga_7 { grid-area: ga_7; }
.ga_8 { grid-area: ga_8; }
.ga_9 { grid-area: ga_9; }

/**
 * -----------------------------
 *            LOCAL           */

[class*=ga_], [class^=ga_] {
    height: 70px;
    border: 1px solid #ddd;
    text-align: center;
}
[class*=ga_] em, [class^=ga_] em {
    position: relative;
    top: 20px;
    display: block;
    background-color: transparent;
    text-align: center;
}