/** Paginacao */
#paging {
    float: right;
    margin: 6px 0 0 auto;
}
.totalpag {
    text-align: center;
    font-family: 'Ubuntu';
    opacity: .6;
    margin: 6px auto;
}
.numeric_pagination, #paging a span, #paging a span {
    position: relative;
}
.numeric_pagination {
    top: -3px;
    display: inline-block;
    margin: 0 13px;
}
.numeric_pagination a span.disabled {
    top: 3px;
}
#paging a span {
    font-size: 1.025rem;
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    margin: 0 1px;
    padding: 4px 4px;
    text-align: center;
    color: var(--color_button);
    background-color: var(--bg_color_button);
    background-image: var(--bg_image_button);
    border: 2px solid var(--input_border);
    border-radius: 2px;
    opacity: .85;
    transition: .3s;
}
#paging a.first_page span, #paging a.last_page span, 
#paging a.pagprev span, #paging a.pagnext span, #paging a span.disabled {
    font-size: 1.7rem;
    line-height: 1;
    padding: 0 4px;
}
#paging a span:hover, #paging a span:focus,
#paging a.current span {
    opacity: 1;
    transition: .3s;
    filter: brightness(125%);
    border-color: #615f51;
    color: #1d242f;
}
#paging a span.disabled, #paging a.current span {
    cursor: default;
}
#paging a span.disabled:hover, #paging a span.disabled:focus {
}